<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      投稿者
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">コンテンツを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="card" style="max-width: 560px;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TijQ3bXgJOg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">text</p>
      <a href="#" class="btn btn-primary">Fight!!</a>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>