<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      投稿者
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to '動画URLを共有', new_target_path %>
    </div>
  </div>
</div>

<div class="messages">
  <div class="card" style="max-width: 600px;">
    <% @target.each do |target|%>
      <div class="card" style="max-width: 600px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= target.youtube.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body flex">
          <h5 class="card-title"><%= target.title %></h5>
          <a href="#" class="btn btn-primary">Fight!!</a>
        </div>
        <div class="message">
          <div class="upper-message">
            <div class="message-user">
              Tom
            </div>
            <div class="message-date">
              2020/3/31(Wed) 12:43:30
            </div>
          </div>
          <div class="lower-message">
            <div class="message-content">
              おはよう
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <div>
</div>
<br>
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>