<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      投稿者
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to '動画URLを共有', new_target_path %>
    </div>
  </div>
</div>
<div class="messages">
  <%= render partial: 'message', collection: @target %>
</div>
<br>
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>