<div class="side-bar-header">
  <div class="header-name">
    <a href="#">user_name</a>
  </div>
  <div class="create-url">
    <a href="#">動画URLを共有</a>
  </div>
</div>

<div class="contents">
  <div class="content">
    <div class="content-name">
      <a href="#">ex-content1</a>
    </div>
  </div>
  <div class="content">
    <div class="content-name">
      <a href="#">ex-content2</a>
    </div>
  </div>
</div>