<header>
  <div class="navbar navbar-dark bg-secondary static-top">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#">enjex_app</a>
      <div>
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, "#", class: "btn btn-light" %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-light" %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light" %>
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-light" %>
        <% end%>
      </div>
    <div>
  </div>
</header>