<header>
  <div class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container px-5">
      <%= link_to 'enjex_app', tops_path, class: "navbar-brand fw-bold" %>
    </div>
  </div>
</header>